

<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand " href="#"><span class="">Byuka</span>Urabagirane</a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
         
       </span> <i class="fas fa-bars "></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="margin-left: px;" class="nav-link active" aria-current="page" href="#">AHABANZA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOTURIBO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link">
              IBIBAZO WIBAZA
          </a>
        
        </li>
        <li style="margin-left: 400px;" class="nav-item">
            <a class="nav-link" href="#">6818401272-12(ECOBANK)</a>

          </li>
          
         
      </ul>
     
    </div>
  </div>
</nav>


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/My Post.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5></h5>
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/My Post1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5><span style="color: orange!important;">Tugufasha</span> Kuva Mubwigunge</h5>
              <p style="" class="">Yemwe abarushye n'abaremerewe muze Munsange ndabaruhura Matayo 11:28-30</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/ultra.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5><span >Yesu </span>niwe rufunguzo</h5>
              <p>Yesu niwe ufite urufunguzo rw'ibizaba kubuzima bwawe</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>












    




        
      
         

      
<div class="floater">
    <div id="menu-container" class="container">
          <div class="row">

               <div class="col-sm-md-6">
                  <ul >
                      <li class="text-center"><a >AHABANZA</a></li>
                      <li class="text-center"><a>ABOTURIBO</a></li>
                      <li class="text-center"><a>IBIBAZO WIBAZA</a></li>
                      <li class="text-center"><a>($) 6818401272-12<br> (ECOBANK)</a></li>
                    </ul>
               </div>
          </div>
       
   
    
      </div>
          
</div>

   





<div class="section0-1 container-fluid">  
    
       
          
            
               
         
       
     


    <img src="../assets/cgirl.jpg" class="bg-img">
    <div class="section2 container ">
       
  
         
                    <H1 id="section2-img"  class="text-center mb-5"><img src="../assets/122-1228386_principles-of-collaborative-care-facebook-reach-icon-png.png"width="50px"> ABOTURIBO</H1>
                    <P class="text-center" >“BYUKA URABAGIRANE” ni ihuriro ry’abakristukazi baturuka mu madini<br> n’amatorero atandukanye,Rikaba ryaratangiye muri 07/2020. Abo bakristukazi biyemeje kwamamaza inkuru nziza ya Yesu Kristu mu bikorwa byo gutabara no gutabariza abashavuye haba ku mutima no ku mubiri. Ibikorwa byabo bigamije kwita cyane cyane ku bategarugori n’abari bakeneye ubutabazi butandukanye igihe bageze mu ngorane badafite umuntu wo kubitaho (intabwa cg incike). Mu butumwa bwacu tuzibanda ku  byiciro dusanga muri Bibiliya mu magambo Umwami wacu Yezu/Yesu yavuze ubwo yagiraga ati: “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa,<br> nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36). </P>
        
        
        
    <div class="row">
    
      <div style="width: 50px;margin-bottom: 100px;" class="col mt-5">
        <h3 class="text-center"><img style="margin-right: 10px;"  src="../assets/kissclipart-mission-icon-png-clipart-computer-icons-mission-st-c62b83fe780f12c3.png" width="50px"class="">Intego rusange </h3>
        
        <p class="text-center">Intego y’abagize Organization 
          “BYUKA URABAGIRANE” ni uguhumuriza abari n’abategarugori 
          baruhijwe n’ibibazo bitandukanye no kubagarurira icyizere cy’ubuzima.  </p>
      </div>
     
      <div class="row-card row">
          <div class="col1 col-sm-4">
         
           <img src="../assets/psyc.jpg" class="img1">
           <h1 class="display-2 ">01</h1>
           <p class="text-center">Kwita ku bagore/abakobwa bageze mu ngorane (uburwayi, gufungwa, gutabw
             kubura amahoro y’umutima biturutse ku mpamvu 
             iyo ariyo yose) badafite uwo batabaza;  </p>
          </div>
          <div  class="col2 col-sm-4">
             
             <img src="../assets/psyc.jpg" class="img1">
             <h1 class="display-2 ">02</h1>
             <p class="text-center">Guteganya ahantu hizewe kandi hatekanye hazaba hagenewe kwakira uwaba yifuza uwa
                amatwi ngo amubwire agahinda ke cyangwa akeneye 
                uwamuyobora mu gihe ahuye n’ingorane;</p>
            </div>
            <div class="col3 col-sm-4">
               
               <img src="../assets/psyc.jpg" class="img1">
               <h1 class="display-2 ">03</h1>
               <p class="text-center">Guhugura buri wese wifuza ubumenyi cyangwa ubwunganizi mu bijyanye n’ubutumwa 
                 bwo gutega amatwi umuntu ufite ibibazo.</p>
              </div>
    
        </div>
    
    
    
    </div>
    
      </div>
    
    
    
    <div class="section3 container">
    
        <div class="row">
    <div class="col-sm-md">
    
      <h1 class="text-center"><i class="bi bi-people"></i>Turi Umuryango Mugari </h1>
      <p class="text-center">Buri wese mu bagize Organization agomba kuba asobanukiwe ko ubutumwa asabwa gusohoza yabuhawe n’uwamuhamagaye (YESU/YEZU KRISTO); bityo inkomoko y’ubushobozi bwose izaturuka  mu kumutega amatwi (isengesho mbere ya byose) no kwemera kumvira 
          (gukora icyo abwiwe n’Imana Yo ubwayo cyangwa ibinyujije mu bamukuriye).</p>  
    </div>   

  </div>    
    
      </div>

    
      





                        
                     

      <div class="container  mt-5">
          <div class="row">
              <div class="col-md-4 margin-btm-20">
                  <div class="quote dark">
                      <blockquote>
                          <p>
                      Umuyobozi Mukuru(president)


                          </p>
                            
                           
                          
                      </blockquote>                        
                  </div>
                  <div class="quote-footer text-right">
                      <div class="quote-author-img">
                          <img src="../assets/president.jpeg" alt="">
                      </div>
                      <h4>  Mukashema Phaina</h4>
                      <p>
                          <i class="fas fa-phone-square-alt"></i>   <a style="color: white;"  href="tel:+250 783 029 885"  >Kanda Hano Umuvugishe</a>  
                      </p>
                  </div>
              </div><!--colored quote box col-->
              <div class="col-md-4 margin-btm-20">
                  <div class="quote green">
                      <blockquote>
                          <p>
                            Umuyobozi Wungirije(vice President)
                          </p>
                      </blockquote>                        
                  </div>
                  <div class="quote-footer text-right">
                      <div class="quote-author-img">
                          <img src="../assets/vise.jpeg" alt="">
                      </div>
                      <h4>Urukundo Marie Agnes</h4>
                      <p>
                          <i class="fas fa-phone-square-alt"></i>   <a style="color: white;"  href="tel:+250 783 029 885"  >Kanda Hano Umuvugishe</a>                        
                      </p>
                  </div>
              </div><!--colored quote box col-->
              <div class="col-md-4 margin-btm-20">
                  <div class="quote dark">
                      <blockquote>
                          <p>
                             Umunyamabanga(Secretary)
                          </p>
                      </blockquote>                        
                  </div>
                  <div class="quote-footer text-right">
                      <div class="quote-author-img">
                          <img src="../assets/20.Tukahirwa Deborah .jpeg" alt="">
                      </div>
                      <h4>Tukahirwa Deborah</h4>
                      <p>
                          <i class="fas fa-phone-square-alt"></i>   <a style="color: white;"  href="tel:+250 788 604 705"  >Kanda Hano Umuvugishe</a>                        
                      </p>
                  </div>
              </div><!--colored quote box col-->
          </div><!--testimonials row-->
          </div>
          
          
          
          <div class="container">
                      <div class="row">
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote dark">
                                  <blockquote>
                                      <p>
                                         Umubitsi (Cashier)
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/21.Uwambaye Ndeze Josiane .jpeg" alt="">
                                  </div>
                                  <h4>Uwambaye Ndeze Josiane</h4>
                                  <p>
                                      <i class="fas fa-phone-square-alt"></i>   <a style="color: white;"  href="tel:+250 788 777 945"  >Kanda Hano Umuvugishe</a>                        
                                     
                                  </p>
                              </div>
                          </div><!--colored quote box col-->
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          Nyiraneza Gisele
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/2.Nyiraneza Gisele.jpeg" alt="">
                                  </div>
                                  <h4> Nyiraneza Gisele</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div><!--colored quote box col-->
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          Mukandinda Genevieve
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/1.Mukandinda Genevieve.jpeg" alt="">
                                  </div>
                                  <h4> Mukandinda Genevieve</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36). 
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/3.Icyimpaye Evelyne.jpeg" alt="">
                                  </div>
                                  <h4>Icyimpaye Evelyne</h4>
                                  <p>
                                      <strong>Umunyaryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36). 
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/4.Mukabutera Claudine.jpeg" alt="">
                                  </div>
                                  <h4>Mukabutera Claudine</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36). 
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/5.Musabyimana Costasie.jpeg" alt="">
                                  </div>
                                  <h4>Musabyimana Costasie</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                           
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/6.Nyirandayambaje Donatha.jpeg" alt="">
                                  </div>
                                  <h4>Nyirandayambaje Donatha</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36). 
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/7.Umubyeyi Alphonsine.jpeg" alt="">
                                  </div>
                                  <h4>Umubyeyi Alphonsine</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                         
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/8.Mukarumongi Priscille.jpeg" alt="">
                                  </div>
                                  <h4>Mukarumongi Priscille</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                     
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/23.Iragena Pacifique.jpeg" alt="">
                                  </div>
                                  <h4>Iragena Josee Pacifique</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                      
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/10.Nishimwe Beatrice.jpeg" alt="">
                                  </div>
                                  <h4>Nishimwe Beatrice</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                     
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/11.Nyandwi Liliane.jpeg" alt="">
                                  </div>
                                  <h4>Nyandwi Liliane</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                       
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                  
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/13.Mukahirwa Ruth.jpeg" alt="">
                                  </div>
                                  <h4>Mukahirwa Ruth</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                      
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                         
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/14.Gafurama Claire.jpeg" alt="">
                                  </div>
                                  <h4>Gafurama Claire</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                    
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/15.Umutoni Grace.jpeg" alt="">
                                  </div>
                                  <h4>Umutoni Grace</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                     
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/16.Nyirabagenzi Marie Claire.jpeg" alt="">
                                  </div>
                                  <h4>Nyirabagenzi Marie Claire</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                        
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/17.Umwizerwa Agathe.jpeg" alt="">
                                  </div>
                                  <h4>Umwizerwa Agathe</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                        
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/18.Kabahire Claudine.jpeg" alt="">
                                  </div>
                                  <h4>Kabahire Claudine</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).               
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/19.Mukankuranga Providence.jpeg" alt="">
                                  </div>
                                  <h4>Mukankuranga Providence</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>

                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36). 
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/22.Ingabire Denyse.jpeg" alt="">
                                  </div>
                                  <h4>Ingabire Denyse</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                       
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/23.Kamahoro Adrienne.jpeg" alt="">
                                  </div>
                                  <h4>Kamahoro Adrienne</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                       
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/24.vuguziga Noame.jpeg" alt="">
                                  </div>
                                  <h4>Vuguziga Naome</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                       
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/25.Mutuyemariya Gloriose.jpeg" alt="">
                                  </div>
                                  <h4>Mutuyemariya Gloriose</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                       
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/26.Mukarugina Petronille.jpeg" alt="">
                                  </div>
                                  <h4>Mukarugina Petronille</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>

                          <div class="col-md-4 margin-btm-20">
                              <div class="quote green">
                                  <blockquote>
                                      <p>
                                          “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).                       
                                      </p>
                                  </blockquote>                        
                              </div>
                              <div class="quote-footer text-right">
                                  <div class="quote-author-img">
                                      <img src="../assets/27.Mukashyaka Madeleine.jpeg" alt="">
                                  </div>
                                  <h4>Mukashyaka Madeleine</h4>
                                  <p>
                                      <strong>Umunyamuryango</strong>
                                  </p>
                              </div>
                          </div>
                          
                    
                          


                      </div><!--testimonials row-->
                  </div>
<div class="container mt-5">
   
      

                <video width="100%" height="100%" controls loop autoplay>
                        <source src="../assets/output_free.mp4" type="video/mp4">
                     
                      </video>
       
    </div>
    

</div>




<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">
            <i class="bi bi-headphones text-dark"></i>Audio
        </div>
        <div class="card-body">
          <h5 class="card-title text-dark">Umva ibiganiro Dukorera kuri Life Radio</h5>
          <audio controls>
              
              <source src="../assets/WhatsApp Audio 2021-07-22 at 20.13.16.mpeg" type="audio/mpeg">
             
            </audio>
          
        </div>
        <div class="card-footer text-muted text-dark">
            2021-07-22 at 20.13.16
        </div>
      </div>
</div>














      <div class="social-media">
         <p class="btn btn-dark"><i class=" text-primary  fab fa-facebook"></i></p> 
         <p class="btn btn-dark"><i class="fab fa-instagram"></i></p> 
      </div>
      <div class="col-sm donate-toggle">
        <div class="cont">
            <p class="text-warning text-center" >Niba wifuza gutera inkunga umurimo w'Imana<br>
              Wabinyuza kuri iyi Compte<br> <br><span>($)  6818401272-12 (ECOBANK)</span> </p>
        </div>
        
      </div>
    
    <div class="donate">
      <img src="../assets/money-loop.gif" class="donate-tog"/>
      <a class="text-center" href="#"></a>
    </div>

    
      <div class="section5 container-fluid">
     
          <div class="row">
        <div class="feedback-col col">
          
        
            <h3 class="text-white text-white"><i class="bi bi-pencil-square text-white"></i>Twandikire</h3>
            <form action="" method="">
            <input type="text"class="form-control " id="name" placeholder="Enter your Full Name">
            <br>
            <input type="email"class="form-control " id="email" placeholder="Enter your Email">
            <br>
            <textarea row="12" class="form-control  text-secondary">Comment</textarea>
            
        
            <input style="margin-left: 130px; margin-bottom: 50px;" type="button"  value="SEND" class="btn btn-info text-white  mt-5 text-center">
            </form>
        </div>  
        <div class="col-sm">
          <h4 class="text-white text-center"><i class="bi bi-geo-alt"></i>Location</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.5234157230284!2d30.042909314754805!3d-1.9434089985831542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca56b9bf9b083%3A0xe8893885324ab497!2sInkundamahoro%20market!5e0!3m2!1sen!2srw!4v1627027166936!5m2!1sen!2srw" width="100%" height="80%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
       
        <div class="col-sm col22">
            <div class="text-center text-white">
               
               <h4>Address Link</h4>
              <a   class="text-white "   href="#"><i class="fas fa-phone-square-alt"></i>+250 788 748 309</a><br><br>
              <a  class="text-white "  href="#"><i class="far fa-envelope"></i> byukurabagirane2020@gmail.com</a><br><br>
              <a >($)  6818401272-12 (ECOBANK)</a><br><br>
              <p  id="location-p" class=" text-white">
                  <i class="fas fa-map-marker-alt"></i>   Inkundamahoro Building
               3rd floor,<br>
                  next WASAC Office</p>
              </div>
        </div>
        
          </div>
        
        
        </div>  


<div class="footer conatiner-fluid">
    <hr>
  <div class="footer-cont">
      <p  class="text-center text-secondary ">copyright<i class="far fa-copyright"></i> 2021 Byuka-Urabagirane</p>
  </div>

</div>

    
    