
@media screen and (max-width:1000px){
     
}
@media screen and (max-width:800px){
     .carousel-caption {
       display: block!important;

     }
}
@media screen and (min-width:1000px)
{
     body{
          width: 100%;
     }
     .col2-img{
     
     }
    #carouselExampleCaptions{
       
    }
     .fa-bars {
   
     }
    
   
  
   
     .navbar-brand {
        
     }
     .btn{
        
     }
   
     .main-h1 {
        margin-top: -200px;      
     }

     .col2-img {
         width: 50px;
         margin-top: 200px;
     }
    


}





.section0{

   
    width:100%;
   
    height: 550px;
    
     
     
}
.section0 h1{
     color: white;
}

.main-h1{
     margin-top: 50px;
     font-weight: bolder;
     letter-spacing: 0.5rem;
     margin-bottom: 50px;
     font-size: 50px !important;
     margin-left: 40px;




    
     
}
#col1 span {
    
     color: orange;
}
#col1 h1{
    font-weight: bolder;
}

#col1 {
    
  background: #000;
}

.fa-twitter{
     color: #0dcaf0;
     font-size: 30px;
     margin-top: 10px;
     margin-left: 20px;
}
.section2{
     margin-top: 100px;
}
p{
   font-size: 15px;

}

.team1{
    width: 250px;
}
.carousel-caption{
     background: rgba(0, 0, 0, 0.2);
     
}
.carousel-caption span{
    color: aqua;
}

.bi-pencil-square{
     margin-right: 6px;
}
figcaption{
     font-size: 15px;
     color: bisque!important;
}
#rab-col{
 

  margin-bottom: 150px;
 

}
#rab-col a{
     background: rgb(20, 3, 3);
    margin-left: 50px;
    
   
   }
   #location-p{
        
       

   }
   .fa-phone-square-alt,.fa-envelope{
       
   }
   .president-img{
        width: 150px;
        border-radius: 200px;
   }
   .section6{
     
      
   }

   
.img2{
     width: 10px;
     border-radius: 50px;
}
.main-h1 span{
   
     color: #0dcaf0;
     
     width: 50px;
  
}


.typewrite{
     color: wheat;
     text-decoration: none;
     font-size: 20px;
     font-family: 'Raleway', sans-serif;
     font-weight: 900;
     position: absolute;
     margin-left: 20px;
}

 .bg-img{
      margin-top: 0px;
  z-index: -1;
   width: 100%;
   right: 0;
   left: 0;
  opacity: 0.01;
   object-fit: cover;

    
    
}
.sun{
     position: absolute;
     margin-left: -35px;
     z-index: -1;
     margin-top: 2px;
}
.bi-house,.bi-patch-question{
     font-size: 20px;
}
nav button{
     border: black;
}
.navbar-toggler-icon,.navbar-toggler{
     color: white;
     z-index: 1;
     border: #000;
}
.carousel-cont{
     margin-top: 55px;
}

nav{
    background:transparent
    ;
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     z-index: 100;
   
}
.fa-facebook{
font-size: 30px;
color: white !important;


}
.fa-instagram{
     font-size: 30px;   
}
.social-media{
   
     bottom: 0;
     position: fixed;
     color: white;
     cursor: pointer;
     margin-bottom:150px ;
   right: 0;
   margin-right: 0px;
}
.social-media i{
 
}
.social-media p{
   display: block;
   margin: 10px;
  }
.content1{
   
     width: 100%;
  
     top: 0;
     right: 0;
     left: 0;
   
    
   
   
}
.container00 {
  
}
.row0{
   
     color: white;
    z-index: 10;
    margin-top: 500px;
 
   
}
#section2-img{
     filter: grayscale();
}
#col2 img{
     margin-top: 50px;
     margin-left: 20px;

}
#col2 span{
  color: orange;

}

#col2 p{
  margin-left: 20px;
  
}
#col3{
     background: #000;
     height: 230px;
   
}
#col3 img{
     border-radius: 500px;
     
}
#col4{
     width: 100%;
     border-style: solid;
   border-image: linear-gradient(#6C72CB,#CB69C1);
     background: #000;
     color: white;
}
.item2{
   
}
.item3{
    
}
#col1 button{
     position: absolute;
     margin-left: -90px;
     margin-top: 40px !important;
}

.sponsor-img{

    width:50px;
    right: 0;
    position: fixed;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 37px;
    cursor: pointer;
    border-radius:200px;
}
.navbar-brand{
     font-weight: bolder;
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
     color: white;
     font-size: 20px;
     margin-left: 20px;
     top: 0;
  
     
   
}
.cont{
     border: 1px solid white;
}
.donate-toggle{
    display: none;
   background: #000;
   width: 200px;
   height: 160px;
   border-radius: 10px;
  
   right: 0;
   bottom: 0;
   position: fixed;
  
   margin-bottom: 50px;
   
}
.donate-toggle span{
    
    text-decoration: underline;
     
  }
.fa-bars {
     font-size: 30px;
  
}
.navbar-brand span{
     color: #0dcaf0;
     font-weight: bolder;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    
}
.nav-link{
     margin-left: 20px;
     color: white;
     font-weight: bolder;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 15px;
}


.row1{
  position: absolute;
  margin-top: -600px; 
 
  color: white;
 
}
.light-gif{
    width: 80%;
    object-fit: cover;
    opacity: 0.3;
    z-index: -1;
    
}







     .section0-1 .bg-img{
          width: 100%;
          object-fit: cover;
          right: 0;
          left: 0;
          z-index: -1;
          position: fixed;
          bottom: 0;
          height: 100%;

     }
     .row-1 {
          position: absolute;
          margin-top: -600px;
          
     }
    
     #rab-col h1{
        color: white;
        font-size: 50px;
       
          
     }
  
    
.content1 a{
   
     color:wheat;
   
     text-decoration: none;
     font-size: 16px;
     font-family: 'Raleway', sans-serif;
     font-weight: bolder;
    
}

.btn{
     margin-top: 50px;
    
}
.col2-img{
     margin-top: -50px;
     margin-left: 100px;
     filter: grayscale();
}


.section3{
  
     margin-top: 100px;
}
.section3 img{
     margin-top: 50px;
     margin-left: 100px;
     width: 90%;
}

.collapse-mover{
     margin-top: 56px;
     margin-left: 100px;
}
.card{
    
}
.card img{
   border-radius: 5
00px;
}
.row-card img{

opacity: 0.1;
width: 100%;

}
.floater{
     background:black;
     width: 100%;
     height: 1000px;
     z-index: 10;
     margin-top: 50px;
     position: absolute;
     top: 0;
     position: fixed;
     display: none;
}
#menu-container{
   
     color:white;
     background: #000;
     height: 300px;
     width: 80%;
     left: 0;
     right: 0;
     z-index: 10;
     margin-top: 100px;
     border-radius: 5px;
     margin-left: 10px;
    ;
    
     
}

#menu-container li{
     list-style: none;
     margin-top: 40px;
     margin-left: 20px;
     overflow: hidden;
     
    
}
#menu-container ul{
 position: absolute;
     margin-top: 0px;
     margin-left: 50px;
    
     
    
}
#menu-container a{
 
     list-style: none;
     font-family: 'roboto',sans-serif;
     
    
    
}

.row-card h1{
    color: orangered;
     position: absolute;
     margin-top: -260px;
     font-weight: bolder;
     opacity: 0.5;

}
.row-card p{
     z-index: 10;
     color:white;
     margin-top: -170px;
}

.section4{
     width: 100%; 
     margin-top: 100px;
}
.bi-chevron-down{
     margin-left: 70px;
     color: white;
}
header{
     color:blue;
}

.section5{
     width: 100%;
     margin-top: 100px;
   

     
    
}
.section5 .col ,.col22{
 border-bottom: 1px solid white;


}

.section5 input,textarea{
     border: 1px solid rgb(179, 178, 178);
}
.bi-geo-alt{
     font-size: 27px;
}
.feedback-col{
    
}
input[type=text]{
    
}
input[type=email]{
    
}
textarea{

}

.donate img{
     width: 60px;
     right: 0;
     bottom: 0;
     position: fixed;
     border-radius: 100px;
     margin-bottom: 90px;
     cursor: pointer;
    
  
}
.donate a{
     
     width: 80px;
    
     bottom: 0;
     position: fixed;
     margin-bottom: 20px;
     color: white;
     font-size: 15px;
     color: wheat;
     margin-left: 1100px;
    
    
}
.bi-people{
     font-size: 40px;
}


.footer-cont{
    
     margin-top: 50px;
}

.testimonials {
     margin-top: 40px;   
    
    }
    .testimonial {
        margin-bottom: 3em;
    background: #fff;
        padding: 2em;
        border-right: 30px solid #F9F9F9;
        min-height: 169px;
      
    }
    
    .testimonial:before {
        content: "";
        position: absolute;
        z-index: -1;
        -ms-transform: skew(-3deg,-2deg);
        -webkit-transform: skew(-3deg,-2deg);
        -o-transform: skew(-3deg,-2deg);
        -moz-transform: skew(-3deg,-2deg);
        bottom: 14px;
        box-shadow: 0 16px 5px rgba(0,0,0,.04);
        max-width: 90%;
        width: 90%;
        height: 50px;
        left: 1px;
    }
    
    .avatar .img-circle {
        background: #fff;
        padding: 3px;
        border: 1px solid #c5c5c5;
    }
    
    .avatar img {
        width: 100%;
    }
    
    .img-circle {
        border-radius: 50%;
    }
    
    .testimonial h4{
        font-weight: 700;
        color: white;
    }
    .testimonial h4 a {
         font-size: 20px;
         font-weight: 700;
    }
    
    .testimonial h4 {
        margin-bottom: 8px;
    }
    
    .testimonial .testimony-body {
        font-size: .9em;
    }                    



    body{margin-top:20px;}

    .testimonials-v-2 {
      padding: 100px 0;
      overflow: hidden;
    }
    
    .testi-slide {
      text-align: center;
    }
    
    .testi-slide img {
      width: 92px;
      height: 92px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
    }
    
    .testi-slide p {
      margin: 20px 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      font-style: italic;
    }
    
    .testi-slide i {
      color: #32c5d2;
      margin-right: 10px;
    }
    
    .testi-slide h4 {
      font-weight: 400;
      font-size: 16px;
      font-family: "Lato", sans-serif !important;
      font-style: italic;
    }
    
    .testi-slide .flex-control-paging li a {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none;
      background: transparent !important;
      border: 2px solid #ccc;
      width: 8px;
      height: 8px;
    }
    
    .testi-slide .flex-control-paging li a.flex-active {
      background: transparent !important;
      border: 2px solid #32c5d2;
    }
    
    .quote {
      position: relative;
    }
    
    .quote blockquote {
      padding: 0px;
      border: 0;
      margin: 0;
      font-size: 14px;
    
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      border-radius: 8px;
    }
    
    .quote blockquote p {
      color: #fff;
      padding-top: 25px;
      padding-bottom: 45px;
      padding-left: 30px;
      padding-right: 30px;
    }
    
    .quote blockquote:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 90px;
      width: 0;
      height: 0;
      border-top: 0.83333em solid #ccc;
      border-right: 0.86667em solid transparent;
    }
    
    .quote.green blockquote {
      background-color: #000;
      border:1px solid white;
    }
    
    .quote.green blockquote:before {
      border-top-color: #000;
      border:1px solid white;
      
    }
    
    .quote.dark blockquote {
      background-color: #555;
    }
    
    .quote.dark blockquote:before {
      border-top-color: #555;
    }
    
    .quote-footer {
      margin: 10px 0;
    }
    
    
    .quote-footer .quote-author-img img {
      float: left;
      max-width: 90px;
      width: 90px;
      height: 90px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      margin-left: -5px;
      margin-top: -40px;
      position: relative;
      z-index: 1;
      padding: 5px;
      background-color: #fff;
    }
    
    .quote-footer h4 {
      font-size: 14px;
      margin-bottom: 4px;
      color: #F9F9F9;
    }
    
    .quote-footer p {
      font-weight: 400;
      font-style: italic;
      font-size: 14px;
    }
    strong{
         color: whitesmoke;
    }




    
    