

<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="navbar-brand " href="#"><img src="../assets/byukabwa.png"></a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span style="margin-left: 100px;" class="navbar-toggler-icon">

       </span> <i class="fas fa-bars "></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="margin-left: px;" class="nav-link active" aria-current="page" href="#">AHABANZA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOTURIBO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link">
              IBIBAZO WIBAZA
          </a>

        </li>
        <li style="margin-left: 500px;" class="nav-item">
            <a class="nav-link" href="#">6818401272-12(ECOBANK)</a>

          </li>


      </ul>

    </div>
  </div>
</nav>
<iframe class="youtube-vid" width="100%" height="580px" src="https://www.youtube.com/embed/JcDKz5J-90s?autoplay=1" title="YouTube video player" muted="true" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div class="car-mover">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/My Post.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/My Post1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5><span style="color: orange!important;">Tugufasha</span> Kuva Mubwigunge</h5>
          <p style="" class="">Yemwe abarushye n'abaremerewe muze... Matayo 11:28-30</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/ultra.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5><span >Yesu </span>niwe rufunguzo</h5>
          <p>Yesu niwe ufite urufunguzo rw'ibizaba kubuzima bwawe</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




</div>




















<div class="floater">
    <div id="menu-container" class="container">
          <div class="row">

               <div class="col-sm-md-6">
                  <ul >
                      <li class="text-center"><a >AHABANZA</a></li>
                      <li class="text-center"><a>ABOTURIBO</a></li>
                      <li class="text-center"><a>IBIBAZO WIBAZA</a></li>
                      <li class="text-center"><a>($) 6818401272-12<br> (ECOBANK)</a></li>
                    </ul>
               </div>
          </div>



      </div>

</div>


<div id="oranged-bck" class="container">
<div class="row">

<div class="col-md text-center ">
  <h1 class="text-white mt-5">Aboturibo</h1>
  <p class="text-white">“BYUKA URABAGIRANE” ni ihuriro ry’abakristukazi baturuka mu madini n’amatorero atandukanye biyemeje kwamamaza
    inkuru nziza ya Yesu Kristu mu bikorwa byo gutabara no gutabariza abashavuye haba ku mutima no ku mubiri.
     Ibikorwa byabo bizaba bigamije kwita cyane cyane ku bategarugori n’abari bakeneye ubutabazi butandukanye
     igihe bageze mu ngorane badafite umuntu wo kubitaho (intabwa cg incike). Mu butumwa bwacu tuzibanda ku
      byiciro dusanga muri Bibiliya mu magambo Umwami wacu Yezu/Yesu yavuze ubwo yagiraga
      ati: “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa,
       nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika,
     nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36).</p>


</div>
<div class="col">



</div>
</div>


</div>

<div  id="intego-bck"class="container">

  <div class="row">
    <div class="col">
<img  src="../assets/hearted.png" width="40%">


    </div>
    <div class="col-sm mt-5" >
      <h1 class="text-white mb-2">Intego rusange</h1>

    <p class="text-white mt-5"> Intego y’abagize Organization “BYUKA URABAGIRANE”
      ni uguhumuriza abari n’abategarugori baruhijwe
       n’ibibazo bitandukanye no kubagarurira icyizere cy’ubuzima.</p>
    <button class="btn btn-warning mb-5">Menya Byinshi</button>
    </div>
  </div>
</div>

<div class="intego-zihariye-back container mt-5">
  <div class="row">
      <h1 style="font-weight: bolder;" class="mt-5">Intego zihariye</h1>
    <div class="col-sm">
      <div class="card">
        <div class="card-header bg-info">
          <h1 class="display-2 text-white">01</h1>
        </div>
        <div class="body mt-5 mb-5">
          <p class="text-center text-muted">Kwita ku bagore/abakobwa bageze mu ngorane (uburwayi, gufungwa,
             gutabwa, kubura amahoro y’umutima biturutse ku mpamvu iyo ariyo yose) badafite uwo batabaza</p>
          

        </div>
      </div>

    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-header bg-info">
              <h1 class="display-2 text-white ">02</h1>
            </div>
            <div class="body mt-5 mb-5">
              <p class="text-center text-muted">Guteganya ahantu hizewe kandi hatekanye hazaba hagenewe kwakira uwaba yifuza uwamutega amatwi ngo amubwire agahinda ke cyangwa akeneye uwamuyobora mu gihe ahuye n’ingorane</p>
            </div>
          </div>

    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-header bg-info">
              <h1 class="display-2 text-white">03</h1>
            </div>
            <div class="body mt-5 mb-5">
              <p class="text-center text-muted">Guhugura buri wese wifuza ubumenyi cyangwa ubwunganizi mu bijyanye n’ubutumwa bwo gutega amatwi umuntu ufite ibibazo.</p>
            </div>
          </div>

    </div>
  </div>
</div>

<div class=" testimonial container">

  <section class="testimonial text-center">
    <div class="container">

        <div class="heading white-heading text-muted">
<h3 class="text-white">Abanyamuryango </h3>
        </div>
        <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">

            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="testimonial4_slide">
                        <img src="../assets/president.jpeg" class="img-circle img-responsive" />
                        <p class="text-white">Mukashema Phiana</p>
                        <h5 class="text-muted">Umuyobozi mukuru</h5>
                        <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="../assets/vise.jpeg" class="img-circle img-responsive" />
                        <p class="text-white">Urukundo Marie Agnes</p>
                        <h5 class="text-muted">Umuyobozi wungirije</h5>
                        <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="../assets/20.Tukahirwa Deborah .jpeg" class="img-circle img-responsive" />
                        <p class="text-white">Tukahirwa Deborah</p>
                        <h5 class="text-muted">Umunyamabanga</h5>
                        <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
                    </div>
                </div>
                <div class="carousel-item">
                  <div class="testimonial4_slide">
                      <img src="../assets/21.Uwambaye Ndeze Josiane .jpeg" class="img-circle img-responsive" />
                      <p class="text-white">Uwambaye Ndeze Josiane</p>
                      <h5 class="text-muted">Umubisti</h5>
                      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="testimonial4_slide">
                    <img src="../assets/1.Mukandinda Genevieve.jpeg" class="img-circle img-responsive" />
                    <p class="text-white">Mukandinda Genevieve</p>
                    <h5 class="text-muted">Umunyamuryango</h5>

                </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial4_slide">
                  <img src="../assets/2.Nyiraneza Gisele.jpeg" class="img-circle img-responsive" />
                  <p class="text-white">Nyiraneza Gisele</p>
                  <h5 class="text-muted">Umunyamuryango</h5>

              </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial4_slide">
                <img src="../assets/3.Icyimpaye Evelyne.jpeg" class="img-circle img-responsive" />
                <p class="text-white">Icyimpaye Evelyne</p>
                <h5 class="text-muted">Umunyamuryango</h5>

            </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial4_slide">
              <img src="../assets/4.Mukabutera Claudine.jpeg" class="img-circle img-responsive" />
              <p class="text-white">Mukabutera Claudine</p>
              <h5 class="text-muted">Umunyamuryango</h5>

          </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial4_slide">
            <img src="../assets/5.Musabyimana Costasie.jpeg" class="img-circle img-responsive" />
            <p class="text-white">Musabyimana Costasie</p>
            <h5 class="text-muted">Umunyamuryango</h5>

        </div>
    </div>
    <div class="carousel-item">
      <div class="testimonial4_slide">
          <img src="../assets/6.Nyirandayambaje Donatha.jpeg" class="img-circle img-responsive" />
          <p class="text-white">Nyirandayambaje Donatha</p>
          <h5 class="text-muted">Umunyamuryango</h5>

      </div>
  </div>
  <div class="carousel-item">
    <div class="testimonial4_slide">
        <img src="../assets/7.Umubyeyi Alphonsine.jpeg" class="img-circle img-responsive" />
        <p class="text-white">Umubyeyi Alphonsine</p>
        <h5 class="text-muted">Umunyamuryango</h5>

    </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/8.Mukarumongi Priscille.jpeg" class="img-circle img-responsive" />
      <p class="text-white">Mukarumongi Priscille</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/10.Nishimwe Beatrice.jpeg" class="img-circle img-responsive" />
      <p>Nishimwe Beatrice</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/11.Nyandwi Liliane.jpeg" class="img-circle img-responsive" />
      <p>Nyandwi Liliane</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/13.Mukahirwa Ruth.jpeg" class="img-circle img-responsive" />
      <p>Mukahirwa Ruth</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/14.Gafurama Claire.jpeg" class="img-circle img-responsive" />
      <p>Gafurama Claire</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/15.Umutoni Grace.jpeg" class="img-circle img-responsive" />
      <p>Umutoni Grace</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/16.Nyirabagenzi Marie Claire.jpeg" class="img-circle img-responsive" />
      <p>Nyirabagenzi Marie Claire</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/17.Umwizerwa Agathe.jpeg" class="img-circle img-responsive" />
      <p>Umwizerwa Agathe</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/18.Kabahire Claudine.jpeg" class="img-circle img-responsive" />
      <p>Kabahire Claudine</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/19.Mukankuranga Providence.jpeg" class="img-circle img-responsive" />
      <p>Mukankuranga Providence</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/20.Tukahirwa Deborah .jpeg" class="img-circle img-responsive" />
      <p>Tukahirwa Deborah</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/21.Uwambaye Ndeze Josiane .jpeg" class="img-circle img-responsive" />
      <p>Uwambaye Ndeze Josiane </p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/22.Ingabire Denyse.jpeg" class="img-circle img-responsive" />
      <p>Ingabire Denyse </p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/23.Kamahoro Adrienne.jpeg" class="img-circle img-responsive" />
      <p>Kamahoro Adrienne</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/23.Iragena Pacifique.jpeg" class="img-circle img-responsive" />
      <p>Iragena Pacifique</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/24.vuguziga Noame.jpeg" class="img-circle img-responsive" />
      <p>vuguziga Noame</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/25.Mutuyemariya Gloriose.jpeg" class="img-circle img-responsive" />
      <p>Mutuyemariya Gloriose</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/26.Mukarugina Petronille.jpeg" class="img-circle img-responsive" />
      <p>Mukarugina Petronille</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>
<div class="carousel-item">
  <div class="testimonial4_slide">
      <img src="../assets/27.Mukashyaka Madeleine.jpeg" class="img-circle img-responsive" />
      <p>Mukashyaka Madeleine</p>
      <h5 class="text-muted">Umunyamuryango</h5>
      <a style="font-weight: bolder; margin-top: 10px;" href="tel:+2507" class="btn btn-warning ">Muvugishe</a>
  </div>
</div>

            </div>
            <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                <span style="color: black !important;" class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>
</div>




















<div class=" audio container mt-5">
   <div class="row">

    <div class="col">

      <video width="100%"  controls loop autoplay>
        <source src="../assets/output_free.mp4" type="video/mp4">

      </video>
     </div>

       <div class="col">
        <ul class="list-group">
          <li class="list-group-item active bg-dark" aria-current="true"><h3  class="card-title text-white">Umva ibiganiro Dukorera kuri Life Radio</h3></li>
          <li class="list-group-item mt-4"> <audio controls>

            <source src="../assets/WhatsApp Audio 2021-07-22 at 20.13.16.mpeg" type="audio/mpeg" width="100%">

          </audio></li>
          <li class="list-group-item"> <audio controls>

            <source src="../assets/WhatsApp Audio 2021-08-08 at 21.08.47.mpeg" type="audio/mpeg" width="100%">

          </audio>
</li>

        </ul>




       </div>
   </div>


</div>














     <div class="container">


     <div class="col-sm donate-toggle">
       <div class="cont">
           <p class="text-warning text-center" >Niba wifuza gutera inkunga umurimo w'Imana<br>
             Wabinyuza kuri iyi Compte<br> <br><span>($)  6818401272-12 (ECOBANK)</span> </p>
       </div>

     </div>

   <div class="donate">
     <img src="../assets/money-loop.gif" class="donate-tog"/>
     <a class="text-center" href="#"></a>
   </div>

     </div>

      <div class="section5 container-fluid">

          <div class="row">
        <div class="feedback-col col">


            <h3 class="text-white text-white mb-4 text-center"><i class="bi bi-pencil-square text-white"></i>Twandikire</h3>
            <form action="" method="">
            <input type="text"class="form-control " id="name" placeholder="Enter your Full Name">
            <br>
            <input type="email"class="form-control " id="email" placeholder="Enter your Email">
            <br>
            <textarea row="12" class="form-control  text-secondary">Comment</textarea>


            <input style="margin-left: 130px; margin-bottom: 50px;" type="button"  value="SEND" class="btn btn-info text-white  mt-5 text-center">
            </form>
        </div>
        <div class="col-sm">
          <h3 class="text-white text-center "><i class="bi bi-geo-alt"></i>Location</h3>
            <iframe class="mapp" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.5234157230284!2d30.042909314754805!3d-1.9434089985831542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca56b9bf9b083%3A0xe8893885324ab497!2sInkundamahoro%20market!5e0!3m2!1sen!2srw!4v1627027166936!5m2!1sen!2srw" width="100%" height="80%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="col-sm col22">
            <div class="text-center text-white">

               <h3 class="mb-4">Address Link</h3>
              <a   class="text-white "   href="#"><i class="fas fa-phone-square-alt"></i>+250 788 748 309</a><br><br>
              <a  class="text-white "  href="#"><i class="far fa-envelope"></i> byukurabagirane2020@gmail.com</a><br><br>
              <a >($)  6818401272-12 (ECOBANK)</a><br><br>
              <p  id="location-p" class=" text-white">
                  <i class="fas fa-map-marker-alt"></i>   Inkundamahoro Building
               3rd floor,<br>
                  next WASAC Office</p>
              </div>
        </div>

          </div>








    <hr>
      <p  class="text-center text-secondary ">copyright<i class="far fa-copyright"></i> 2021 Byuka-Urabagirane</p>




</div>
